.main-header
  background: $primary_color1

  .main-header__content
    height: 100px

    ul
      list-style-type: none
      align-items: center

      li
        padding-right: 80px

        &:last-child
          padding-right: 0
          
          a
            border: 1px solid white
            padding: 15px 20px
            border-radius: 5px

        a
          color: $white
          text-transform: uppercase
          font-weight: 600
          text-decoration: none
          letter-spacing: 0.5px
          display: block
        


    